.wraper{
    width: 700px;
    padding: 50px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}
h1{
    font-family:'Courier New', Courier, monospace;
    font-size: 2em;
    text-align: center;
}
blockquote{
    margin-right: 0;
    text-align: right;
}
blockquote:first-of-type{
    font-style: italic;
}
blockquote:last-of-type{
    font-size: 0.8em;
}
p::first-letter{
    font-family:'Courier New', Courier, monospace;
    font-size: 1.4em;
    font-weight: 700;
}
p{
    background: linear-gradient(to bottom, rgb(0, 0, 0) 5%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    color: transparent;
  }