.wraper{
    width: 700px;
    padding: 50px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(232, 232, 232, 1);
}
table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

td{
    padding: 5px 0;
}

col:nth-child(1){
    background-color: rgb(120, 135, 171);
}
col:nth-child(2){
    background-color: rgb(79, 98, 142);
}
col:nth-child(3){
    background-color: rgb(46, 65, 114);
}
col:nth-child(4){
    background-color: rgb(22, 41, 85);
}
col:nth-child(5){
    background-color: rgb(6, 21, 57);
}

thead{
    color: white;
    font-size: 1.2em;
    font-weight: 700;
}
thead tr:nth-child(2) td{
    padding: 20px 0;
}

tbody td{
    padding: 20px 0;
}

tbody tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0.7);
}
tbody tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0.9);
}

tfoot td{
    padding: 30px 0;
}
tfoot{
    background-color: rgba(255, 255, 255, 0.7);
}

button{
    width: 100px;
    height: 40px;
    background-color: rgb(211, 211, 211);
    border: 1px solid darkgrey;
    transition: background-color 0.5s;
}
button:hover{
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}
button:active{
    background-color: rgb(240, 240, 240);
    border: 3px solid darkgrey;
}

