main{
    width: 45%;
    margin: 2em auto;
    padding: 2em;
    background: rgb(245, 245, 245);
    box-shadow: 2px 2px 10px 2px grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
}
dl{
    color: white;
}
dt{
    background-color: rgb(14, 73, 78);
    
    padding: 1em;
    padding-left: 3em;
}
dd{
    background-color: rgb(35, 97, 103);
    text-align: justify;
    margin-left: 0;
    margin-bottom: 2em;
    padding: 1em;
}
dd a{
    color: yellow;
}
cite{
    font-style: normal;
    font-size: 0.85em;
    line-height: 1.5em;
    letter-spacing: 0.04em;
}
ol{
    list-style-position: inside;
    text-align: justify;
    padding-left: 0;
}
ol {
    counter-reset: cite-counter;
    list-style-type: none;
}
ol li:before {
    content: "[" counter(cite-counter) "] ";
    counter-increment: cite-counter;
    font-weight: 700;
    margin-right: 0.5em;
}
li{
    margin-bottom: 1em;
}
