*{
    margin: 0;
    padding: 0;
}
main{
    width: 30%;
    margin: 100px auto;
    padding: 2em;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
    background-color: rgb(250, 150, 200);
    border-radius: 2%;
    box-shadow: 0.3em 0.3em 1em dimgray;
}
li{
    margin: 0.5em;
    padding-left: 0.5em;
    background-color:  rgb(230, 110, 170);
    color: white;
    list-style-position: inside;
}
span{
    padding: 0.4em 1em;
    background-color: rgb(138, 57, 98);
}